<html>
    <head>
        <title>Go Example API</title>
    </head>
    <body>
        <h1>Go Example API</h1>
        <nav>
            <ul>
                <li><a href="/catalogItems">Catalog items</a></li>
            </ul>
        </nav>
    </body>
</html>